# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used data science libraries
- Few exampls of arithmetic expressions
- Few data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. SAS

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. pytorch
5. TenserFlow

| Data Science Tools|
---------------------
| Apache Hadoop     |
| Apache Spark      |
| Jupyter Notebook  |
| Anaconda          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hour = 60
number_of_hours = minutes%hour
print(number_of_hours)

20

## Author
Agastya Valambatla